.button-watch button {
    width: 7rem;
    background: #1ACDC7;
    color: #f2f2f2;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 1rem;
    font-family: Poppins;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}

.button-watch button:hover {
    background: #0ABBB5;
    color: #000;
    transition: 1.3s;
}

.card-video-responsible {
    width: 18rem;
    height: 26rem;
    background-color: #efe6f7;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-video-responsible {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 0.625rem; 
    margin-top: 1.25rem; 
    max-width: 16rem; 
}



.icone-relogio img {
    width: 3.125rem; 
}

.button-tutorials-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem; 
}

.button-tutorials-videos {
    margin-bottom: 1.25rem; 
}

.time-tutorials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    width: 100%;
}


