.inputFaleConosco{
    width: 37rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #F2B705;
    box-shadow: 2px 2px 4px 2px #F2B705;
}

.inputFaleConosco:focus {
    outline: none;
}

@media(max-width:600px)  {
    


.inputFaleConosco{
    width: 23rem;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px #F2B705;
    box-shadow: 2px 2px 4px 2px #F2B705;
}}
