@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Poppins:wght@300&display=swap');

.modalCenter-ai{
    position: relative;
    width: 50rem;
    background-color: #FFEB68 !important;
    border-radius: 0.6rem !important;
    border: solid 2px #AD4AFF !important;
}

.h4-title-modal-ai{
    font-size: 2rem;
    font-weight: 800;
}

.h5-subtitle-modal-ai{
    font-size: 1.5rem;
    font-weight: 600;
}


.modalCenter-ai img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem !important;
}
.align-center-modal-img-ai{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center-modal-text-ai{
    text-align: center;
}
.align-btn-modal-ai{
    display: flex;
    justify-content: space-around;
    background-color: #FFEB68;
    margin-top: 5rem;
}
.container-modal-ai{
    margin: 0 auto !important;
}

.button-modal-ai{
    background-color: #AD4AFF!important;
    color: white !important;
    border: none !important;
    width: 20rem !important;
    height: 3rem !important;
    height: 3rem !important;
    border-radius: 1rem !important;
    margin-top: 2rem !important;
    font-size: 1.2rem !important;
    font-family: 'Poppins', sans-serif !important;
    
}
.btnmodal-ai{
    width: 200px !important;
    background-color: #AD4AFF !important;
    color: white !important;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem !important;
}
.button-modal-ai:hover{
    background-color: #AD4AFF !important;
    color: white !important;
}

.button-modal-ai:focus {
    outline: none;
}


@media (max-width: 600px) {
.button-modal-ai{
    background-color: #AD4AFF;
    color: white;
    border: none;
    width: 20rem;
    height: 3rem;
    border-radius: 3rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    
}
.modalCenter-ai{
    position: 0;
    right: 0rem;
    width: 30rem;
    height: 30rem !important;
    background-color: #FFEB68;
    border-radius: 0.6rem !important;
    border: solid 2px #AD4AFF !important;
}

.h4-title-modal-ai{
    font-size: 2rem;
    font-weight: 800;
}

.h5-subtitle-modal-ai{
    font-size: 1.5rem;
    font-weight: 600;
}



.modalCenter-ai img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem !important;
}
.align-center-modal-img-ai{
    display: flex;
    justify-content: center;
}
.align-center-modal-text-ai{
    text-align: center;
}
.align-btn-modal-ai{
    display: flex;
    justify-content: space-around;
    background-color: #FFEB68;
    margin-top: 5rem;
}
.container-modal-ai{
    margin: 0 auto !important;
}

.btnmodal-ai{
    background-color: #AD4AFF !important;
    color: white !important;
    font-weight: 700 !important;
    font-family: 'Poppins', sans-serif !important;
}
.button-modal-ai:hover{
    background-color: #AD4AFF !important;
    color: white !important;
}

.button-modal-ai:focus {
    outline: none;
}}