@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;800&family=Montserrat:wght@100;300;600;700&family=Poppins:wght@100;300;400;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
p, button {
	font-family: 'Poppins', sans-serif;
}
h1 {
	font-family: 'Montserrat', sans-serif;
}
h2,h3,h4,h5,h6{
	font-family: 'Baloo 2', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.title-tutorials-lavagem{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    justify-items: center;
    gap: 1.0417rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

.title-tutorials-lavagem p{
    color: #000;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 0.625rem;
    font-size: 1.2rem;
}

.video-step-by-step{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-step-by-step{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-step-by-step{
    font-family: 'Montserrat';
    font-weight: bold;
    margin-top: 3.75rem;
    font-size: 1.3rem;
}

.text-top-step-by-step{
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    flex-direction: row;  
}

.img-step-by-step{
    display: flex;
    justify-content: center;
    flex-direction: row;  
    margin-top: 1.875rem;
    margin-left: 3.125rem;
    
}

.products-step-by-step{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-weight: 300;
    font-size: 0.8rem;
    font-family: 'Montserrat';
   
}

.products-step-by-step span{
    margin-left: 2.0833rem;
}

.recomend-step-by-step{
    margin-top: 0.4375rem;
    font-weight: 300;
    font-size: 0.8rem;
    font-family: 'Montserrat';
}

.content-steps{
    text-align: justify;
    max-width: 65%;
    margin-left: 5rem;
}

.title-steps{
    font-family: 'Montserrat';
    margin-top: 3.125rem;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    
}

.title-steps span{
    color: #F2B705;
    font-weight: bold;
}

.explanation-step-by-step{
    font-family: 'Baloo 2';
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 1rem;
}

.button-steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 1.75rem;
}

.footer-steps{
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-left: 6.25rem;
    margin-top: 3.75rem;
}


@media screen and (max-width: 48rem){
.video-step-by-step{
    position: relative;   
    margin-left: 5.625rem;
    margin-right: 1.875rem;
}
}
