.footer-up{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 90px;
    justify-content: center;
    gap: 60px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1rem;
}

.footer-up p{
    margin-top: 45px;
}

 .footer-p{
   margin-left: 70px;
}

 .footer-hr hr {
    border-color: #000;
   width: 65rem;
   margin-left: 60px;
   border-width: 3px;
 }

 .footer-icons{
  display: flex;
  align-items: center;
  gap: 30px;
 }

 .footer-down{
  display: flex;
  flex-direction: row;
  gap: 25rem;
 }














 @media screen and (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-up a img {
    display: none;
  }

  .footer-up a {
    font-size: 1.5rem;
  }

  .footer-up {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-left: 0;
  }

  .footer-up p{
    margin-top: 10px;
}

  .footer-p{
    flex-wrap: wrap-reverse;
  }

  .footer-p p{
    font-size: 1rem;
    padding: 20px;
  }
}


@media screen and (max-width: 768px) {
    .footer {
      display: flex;
      flex-direction: column;
    }

    .footer-up a img {
      display: none;
    }

    .footer-up {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-left: 0;
    }

    .footer-up p{
      margin-top: 10px;
  }
  }
  
  