@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Raleway:,wght@1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:ital,wght@1,200;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.HeaderPartners{
    display: flex;
    align-items: center;
  justify-content: space-around;
    flex-wrap: wrap;
    
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
    display: flex;
    height: 200px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}


.Nppe{
    background-color: #c79377;
    display: flex;
    align-items: start;
 
    flex-wrap: wrap;
}

.img1{
display: flex;
align-items: start;

}
.img1 img{
  
     height:100vh;
   
    
    }

.logo{
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.logo img{
    width: 600px;

}

.logo h1{
  color: aliceblue;

  font-family: 'Poppins', sans-serif;


  
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  text-align: justify;
}
