.img-select{
    width: 900px;
}

.edit-child-characters{
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.edit-child-lock{
    width: 130px;
    height: 130px;
    margin: 10px;
    cursor: pointer;
}

.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 900px;
}

.modal-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #AD4AFF;
    border-radius: 30px;
    outline: 0;
}
@media (max-width:868px) {

    .img-select{
        width: 250px;
    }

    .modal-edit-child{
        width: 200px;
        justify-content: end;
    }
}
